// Place all the styles related to the rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --------------------------------------------------
// custom styling by Adrian
// --------------------------------------------------

// --------------------------------------------------
// POLARIS EXTRAS
// --------------------------------------------------
.Polaris-ButtonGroup__Item {
  a {
    text-decoration: none;
  }
}

// --------------------------------------------------
// USERS TABLE
// --------------------------------------------------
.data-table {
  thead {
    td {
      background: #230051;
      color: #fff;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  td {
    background: #f4f6f8;
    padding: 0.5em;
    margin: 1px;

    .Polaris-ButtonGroup__Item {
      margin: 0;
    }
  }

  tr.this-user-row {
    td {
      background: #fcf1cd;
    }
  }
}

#users-table {
  td {
    height: 50px;
  }
}

// --------------------------------------------------
// PRODUCT CARD
// --------------------------------------------------
.products {
  $gap-padding: 10px;

  display: grid;
  grid-gap: $gap-padding;
  // grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  @media only screen and (max-width: 749px) {
    grid-template-columns: 1fr;
  }

  .product-card {
    display: grid;
    justify-content: center;

    * {
      text-align: center;
    }
  }
}
